###################################
# Build
###################################
bin/
obj/

###################################
# Visual Studio
###################################
.vs/
*.user
*.suo

###################################
# Logs
###################################
*.log

###################################
# Publish
###################################
publish/

###################################
# Rider / VS Code
###################################
.vscode/
.idea/

###################################
# OS Files
###################################
Thumbs.db
Desktop.ini

###################################
# Secrets
###################################
appsettings.Development.json